* {
    width: 100%;
    margin: 0;
    padding: 0;
    /* background: #ffffff; */
}

html, body {
    height: 100%;
}


body .index {
    background: #ffffff;
}

.container {
    display: flex;
    align-items: center;        /* центрируется относительно вертикали */
    /* justify-content: center; */    /* центрируется по горизонтали */
}

.header {
    max-height: 250px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* ---------------------------------------------------------------------------------- */
/* логотип в хедере */
.logo-header{
    margin-left: 20px;
    display: flex;
    align-items: center;
    max-width: 20%;
}
.img-logo-house{
    max-width: 32px;
}
.img-logo-xeon{
    max-width: 91px;
}
.img-logo-house + .img-logo-xeon{
    margin-left: 38px;
}

/* ---------------------------------------------------------------------------------- */
/* роуты */
.menu {
    /* padding-right: 50px; */
    display: flex;
    justify-content: space-between; /* выделяет равное пространство между элементами */
    padding-bottom: 10px;
}

.menu ul{
    display: flex;
    list-style: none; /* убирает маркеры списка */

    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #616364;
}

.menu-item{
    max-width: 15%;
}

.menu-item + .menu-item{
    margin-left: 32px;
}

.menu-item a{
    text-decoration: none; /* убирает подчёркивание у ссылок */
    color: #616364;
}

.menu-item a:hover{ /* реакция на наведение курсора */
    border-bottom: 3px solid #B69874;
    font-weight: 500;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    padding-bottom: 8px;
}

/* ---------------------------------------------------------------------------------- */
/* бургер в хедере */
.burger{
    /* max-width: 5%; */
    max-width: 112px;
    height: 20px;
    display: flex;
    align-items: center;
    flex-direction: column; /* размещает элементы вертикально */
    padding-right: 60px;
}

.burger img {
    max-width: 30px;
}

.burger-elem + .burger-elem {
    margin-top: 4px;
}


/* ---------------------------------------------------------------------------------- */
/* основной блок */
.content {
    display: flex;
    align-items: center;
}

.content-view{
    width: 45%;
    padding-top: 10px;
}

.text-content{
    padding-left: 103px;
}

.content-view .garanty {
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.16em;
    color: #A58054;
}

.content-view h1 {
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    color: #000000;

    padding-top: 0;
    padding-bottom: 26px;
    max-width: 535px;
}

.description{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #646464;
    backdrop-filter: blur(2px);

    max-width: 503px;
}

.content-view .start {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #B69874;

    margin-top: 50px;
}

.content-view .price{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #1B3544;

    margin-top: 2px;
}

.content-button {
    margin-top: 42px;
    width: 185px;
    height: 61px;
    background: #1B3544;
    border: none;
    box-sizing: border-box;

    padding: 18px 45px; /* top/bottom left/right */
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.content-button:hover{
    background: #325f79;
    transition: background-color .2s;
}

/* ---------------------------------------------------------------------------------- */
/* выбор мебели (контент справа) */
.product-content {
    margin-right: 60px;
}

#main-product{
    min-height: auto;
    width: 564px;
    background-image: url(image/body_chair.svg), url(image/Ellipse1.svg),
    url(image/Ellipse2.svg);
    background-size: 400px auto, 310px, 400px;
    background-repeat: no-repeat;
    background-position: center;
}

.products{
    max-width: 112px;
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-content{
    display: flex;
}

.product-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-item + .product-item{
    margin-top: 46px;
}

.product-item img{
    max-width: 89px;
    max-height: 74px;
    margin-bottom: 5px;
}

.text-product {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    color: #1B3544;
    text-decoration: none; /* убирает подчёркивание у ссылок */
    text-align: center;
}

.text-product:hover{
    color: #000000;
    /* border-bottom: 2px solid #B69874; */
    text-decoration: underline solid #B69874;
    text-decoration-thickness: 2px;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ---------------------------------------------------------------------------------- */
/* футер */
footer {
    position: absolute;
    bottom: 0px;
}

.footer{
    background-color: #1B3544;
    max-height: 300px;
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 33px;
}

.content-footer{
    max-width: 30%;
    display: flex;
    align-items: center;
    /* justify-content: center;
    align-items: center; */
    /* flex-direction: row; */
}

/* .footer-chair{
    max-width: 359px;
} */


/* --------------------------------------------------------------------- */
/* второй блок футера */

.footer-info{
    display: flex;
    flex-wrap: wrap;
}

.footer-info h2 {
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    
    /* margin-top: 20px; */
    margin-bottom: 17px;
}

.footer-info p{
    max-width: 360px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    color: #E5E5E5;
    backdrop-filter: blur(2px);
    padding-bottom: 15px;

    border-bottom: 2px solid rgba(255, 255, 255, 0.13);
}

.footer-statistic {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 40px; */
}

/* --------------------------------------------------------------------- */
.views{
    display: flex;

    color: #FFFFFF;
    font-family: 'PT Serif';
    font-weight: 400;
    margin-bottom: 30px;
}

.views #view-1 {
    justify-content: center;
    align-items: center;
}

.view {
    width: auto;
}

.views .number-view{
    font-size: 30px;
}

.views .text-view {
    font-size: 12px;
}

.view + .view {
    margin-left: 33px;
}

/* --------------------------------------------------------------------- */
/* тут будут иконки членов сообщества */
.members {
    display: flex;
}

.text-members{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins';
    color: #FFFFFF;

    border-left: 2px solid rgba(255, 255, 255, 0.46);
    padding-left: 30px;
}
.text-members .trust {
    font-weight: 500;
    font-size: 14px;
}

.text-members .peoples {
    font-weight: 400;
    font-size: 10px;
}

.members-icons {
    max-width: 116px;
    margin-right: 30px;
    position: relative;
}

.members-icons img {
    max-width: 36px;
    position: absolute;
}

.members-icons span {
    position: absolute;
    width: 36px;
    height: 36px;
    z-index: 5;
    top: 9px;       /* костыльное центрирование по-вертикали */
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
}

#red-round{
    z-index: 4;
    left: 0;
}

#people1 {
    z-index: 3;
    left: 26px;
}

#people2 {
    z-index: 2;
    left: 52px;
}

#people3 {
    z-index: 1;
    left: 78px;
}